# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
SECRET_KEY=your_SECRET_KEY
DEBUG=True

DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

STRIPE_SECRET_KEY = your_STRIPE_SECRET_KEY

REDIS_URL = your_REDIS_URL

MY_EMAIL=your_EMAIL
PASSWORD_EMAIL=your_PASSWORD_EMAIL